# Pandas Exercise
Use the Adventure Works dataset to create the following reports.
The data files can be directlty accessed by all users on ARC (our Hadoop Cluster).

***No need to download or copy into your home directory!***

Reference to the original data set https://msdn.microsoft.com/en-us/library/hh403424.aspx 

## Task
1. write the Python Pandas expression to produce a table as described in the problem statements.
2. The SQL expression may give you a hint. It also allows you to see both systems side-by-side.
3. If you don't know SQL just ignore the SQL code.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
%%time
Employees = pd.read_excel('/Users/meng/Dropbox/Shared/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/HW04/Employee.xlsx')
print("shape:", Employees.shape)

In [ ]:
Employees

In [ ]:
%%time
Email = pd.read_excel('/Users/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/EmailAddress.xlsx')
print("shape:", Email.shape)

In [ ]:
Email.head()

In [4]:
%%time
Person = pd.read_excel('/Users/meng/Dropbox/Shared/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/Person.xlsx')
print("shape:", Person.shape)

shape: (19972, 14)
CPU times: user 2.53 s, sys: 57.8 ms, total: 2.59 s
Wall time: 2.76 s

In [ ]:
Person.head()

In [6]:
%%time
Address = pd.read_excel('/Users/meng/Dropbox/Shared/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/Address.xlsx')
print("shape:", Address.shape)

shape: (19614, 9)
CPU times: user 2.21 s, sys: 53.1 ms, total: 2.27 s
Wall time: 2.52 s

In [ ]:
Address.head()

In [ ]:
Employees = Employees.merge(Email[["BusinessEntityID", "EmailAddress"]], on="BusinessEntityID", how="inner")
Employees.head()

In [ ]:
Employees = Employees.merge(Person[["BusinessEntityID", "PersonType", "NameStyle", "Title", "FirstName","MiddleName", "LastName"]], on="BusinessEntityID", how="inner")
Employees.head()

In [7]:
BusinessEntityAddress = pd.read_excel("/Users/meng/Dropbox/Shared/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/BusinessEntityAddress.xlsx")
print("shape:", BusinessEntityAddress.shape)
BusinessEntityAddress.head()

shape: (19614, 5)

,BusinessEntityID,AddressID,AddressTypeID,rowguid,ModifiedDate
0,1,249,2,3A5D0A00-6739-4DFE-A8F7-844CD9DEE3DF,2014-09-12 11:15:06.967000000&
1,2,293,2,84AE7057-EDF4-4C51-8B8D-3AEAEFBFB4A1,2014-09-12 11:15:06.967000000&
2,3,224,2,3C915B31-7C05-4A05-9859-0DF663677240,2014-09-12 11:15:06.967000000&
3,4,11387,2,3DC70CC4-3AE8-424F-8B1F-481C5478E941,2014-09-12 11:15:06.967000000&
4,5,190,2,C0ED2F68-937B-4594-9459-581AC53C98E3,2014-09-12 11:15:06.967000000&

In [8]:
Address = Address.merge(BusinessEntityAddress[["BusinessEntityID", "AddressID"]], on="AddressID", how="inner")
Address.head()
Address.columns

Index(['AddressID', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceID',
       'PostalCode', 'SpatialLocation', 'rowguid', 'ModifiedDate',
       'BusinessEntityID'],
      dtype='object')

In [10]:
Employees = Employees.merge(Address[['BusinessEntityID', 'AddressID', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceID', 'PostalCode']], left_on='EmployeeID',  right_on='BusinessEntityID', how='left')
Employees

,EmployeeID,NationalIDNumber,LoginID,OrganizationNode,OrganizationLevel,JobTitle,BirthDate,MaritalStatus,Gender,HireDate,...,FirstName,MiddleName,LastName,BusinessEntityID,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode
0,1,295847284,adventure-works\ken0,NaN,0,Chief Executive Officer,1969-01-29,S,M,2009-01-14,...,Ken,J,Sánchez,1,249,4350 Minute Dr.,NaN,Newport Hills,79,98006
1,2,245797967,adventure-works\terri0,58,1,Vice President of Engineering,1971-08-01,S,F,2008-01-31,...,Terri,Lee,Duffy,2,293,7559 Worth Ct.,NaN,Renton,79,98055
2,3,509647174,adventure-works\roberto0,5AC0,2,Engineering Manager,1974-11-12,M,M,2007-11-11,...,Roberto,NaN,Tamburello,3,224,2137 Birchwood Dr,NaN,Redmond,79,98052
3,4,112457891,adventure-works\rob0,5AD6,3,Senior Tool Designer,1974-12-23,S,M,2007-12-05,...,Rob,NaN,Walters,4,11387,5678 Lakeview Blvd.,NaN,Minneapolis,36,55402
4,5,695256908,adventure-works\gail0,5ADA,3,Design Engineer,1952-09-27,M,F,2008-01-06,...,Gail,A,Erickson,5,190,9435 Breck Court,NaN,Bellevue,79,98004
5,6,998320692,adventure-works\jossef0,5ADE,3,Design Engineer,1959-03-11,M,M,2008-01-24,...,Jossef,H,Goldberg,6,286,5670 Bel Air Dr.,NaN,Renton,79,98055
6,7,134969118,adventure-works\dylan0,5AE1,3,Research and Development Manager,1987-02-24,M,M,2009-02-08,...,Dylan,A,Miller,7,49,7048 Laurel,NaN,Kenmore,79,98028
7,8,811994146,adventure-works\diane1,5AE158,4,Research and Development Engineer,1986-06-05,S,F,2008-12-29,...,Diane,L,Margheim,8,230,475 Santa Maria,NaN,Everett,79,98201
8,9,658797903,adventure-works\gigi0,5AE168,4,Research and Development Engineer,1979-01-21,M,F,2009-01-16,...,Gigi,N,Matthew,9,187,7808 Brown St.,NaN,Bellevue,79,98004
9,10,879342154,adventure-works\michael6,5AE178,4,Research and Development Manager,1984-11-30,M,M,2009-05-03,...,Michael,NaN,Raheem,10,11386,1234 Seaside Way,NaN,San Francisco,9,94109
10,11,974026903,adventure-works\ovidiu0,5AE3,3,Senior Tool Designer,1978-01-17,S,M,2010-12-05,...,Ovidiu,V,Cracium,11,32505,5458 Gladstone Drive,NaN,Kenmore,79,98028
11,12,480168528,adventure-works\thierry0,5AE358,4,Tool Designer,1959-07-29,M,M,2007-12-11,...,Thierry,B,D'Hers,12,1,1970 Napa Ct.,NaN,Bothell,79,98011
12,13,486228782,adventure-works\janice0,5AE368,4,Tool Designer,1989-05-28,M,F,2010-12-23,...,Janice,M,Galvin,13,219,3397 Rancho View Drive,NaN,Redmond,79,98052
13,14,42487730,adventure-works\michael8,5AE5,3,Senior Design Engineer,1979-06-16,S,M,2010-12-30,...,Michael,I,Sullivan,14,295,6510 Hacienda Drive,NaN,Renton,79,98055
14,15,56920285,adventure-works\sharon0,5AE7,3,Design Engineer,1961-05-02,M,F,2011-01-18,...,Sharon,B,Salavaria,15,287,7165 Brock Lane,NaN,Renton,79,98055
15,16,24756624,adventure-works\david0,68,1,Marketing Manager,1975-03-19,S,M,2007-12-20,...,David,M,Bradley,16,214,3768 Door Way,NaN,Redmond,79,98052
16,17,253022876,adventure-works\kevin0,6AC0,2,Marketing Assistant,1987-05-03,S,M,2007-01-26,...,Kevin,F,Brown,17,234,7883 Missing Canyon Court,NaN,Everett,79,98201
17,18,222969461,adventure-works\john5,6B40,2,Marketing Specialist,1978-03-06,S,M,2011-02-07,...,John,L,Wood,18,209,9906 Oak Grove Road,NaN,Redmond,79,98052
18,19,52541318,adventure-works\mary2,6BC0,2,Marketing Assistant,1978-01-29,S,F,2011-02-14,...,Mary,A,Dempsey,19,174,6307 Greenbelt Way,NaN,Bellevue,79,98004
19,20,323403273,adventure-works\wanida0,6C20,2,Marketing Assistant,1975-03-17,M,F,2011-01-07,...,Wanida,M,Benshoof,20,191,6951 Harmony Way,NaN,Sammamish,79,98074
20,21,243322160,adventure-works\terry0,6C60,2,Marketing Specialist,1986-02-04,M,M,2009-03-02,...,Terry,J,Eminhizer,21,171,8668 Via Neruda,NaN,Bellevue,79,98004
21,22,95958330,adventure-works\sariya0,6CA0,2,Marketing Specialist,1987-05-21,S,M,2008-12-12,...,Sariya,E,Harnpadoungsataya,22,233,1185 Dallas Drive,NaN,Everett,79,98201
22,23,767955365,adventure-works\mary0,6CE0,2,Marketing Specialist,1962-09-13,M,F,2009-01-12,...,Mary,E,Gibson,23,229,3928 San Francisco,NaN,Everett,79,98201
23,24,72636981,adventure-works\jill0,6D10,2,Marketing Specialist,1979-06-18,M,F,2009-01-18,...,Jill,A,Williams,24,243,3238 Laguna Circle,NaN,Everett,79,98201
24,25,519899904,adventure-works\james1,78,1,Vice President of Production,1983-01-07,S,M,2009-02-03,...,James,R,Hamilton,25,63,9652 Los Angeles,NaN,Monroe,79,98272
25,26,277173473,adventure-works\peter0,7AC0,2,Production Control Manager,1982-11-03,M,M,2008-12-01,...,Peter,J,Krebs,26,166,3670 All Ways Drive,NaN,Bellevue,79,98004
26,27,446466105,adventure-works\jo0,7AD6,3,Production Supervisor - WC60,1956-10-08,S,F,2008-02-27,...,Jo,A,Brown,27,77,9693 Mellowood Street,NaN,Duvall,79,98019
27,28,14417807,adventure-works\guy1,7AD6B0,4,Production Technician - WC60,1988-03-13,M,M,2006-06-30,...,Guy,R,Gilbert,28,61,7726 Driftwood Drive,NaN,Monroe,79,98272
28,29,948320468,adventure-works\mark1,7AD6D0,4,Production Technician - WC60,1979-09-25,S,M,2009-01-23,...,Mark,K,McArthur,29,218,9863 Ridge Place,NaN,Redmond,79,98052
29,30,410742000,adventure-works\britta0,7AD6F0,4,Production Technician - WC60,1989-09-28,M,F,2009-01-29,...,Britta,L,Simon,30,155,2046 Las Palmas,NaN,Edmonds,79,98020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,261,280633567,adventure-works\reinout0,85EBAE,4,Purchasing Assistant,1978-01-17,M,M,2010-12-25,...,Reinout,N,Hillmann,261,173,620 Woodside Ct.,NaN,Bellevue,79,98004
261,262,231203233,adventure-works\david5,8610,2,Assistant to the Chief Financial Officer,1964-06-21,S,M,2009-01-12,...,David,M,Barber,262,251,8967 Hamilton Ave.,NaN,Newport Hills,79,98006
262,263,441044382,adventure-works\jean0,8C,1,Information Services Manager,1975-12-13,S,F,2008-12-11,...,Jean,E,Trenary,263,210,2383 Pepper Drive,NaN,Redmond,79,98052
263,264,858323870,adventure-works\stephanie0,8D60,2,Network Manager,1984-03-25,S,F,2009-02-04,...,Stephanie,A,Conroy,264,268,7435 Ricardo,NaN,Issaquah,79,98027
264,265,749389530,adventure-works\ashvini0,8D6B,3,Network Administrator,1977-03-27,S,M,2008-12-04,...,Ashvini,R,Sharma,265,270,6580 Poor Ridge Court,NaN,Issaquah,79,98027
265,266,672243793,adventure-works\peter1,8D6D,3,Network Administrator,1980-05-28,S,M,2009-02-23,...,Peter,I,Connelly,266,269,9530 Vine Lane,NaN,Issaquah,79,98027
266,267,58317344,adventure-works\karen1,8DA0,2,Application Specialist,1978-05-19,S,F,2009-02-16,...,Karen,A,Berg,267,274,5256 Chickpea Ct.,NaN,Issaquah,79,98027
267,268,314747499,adventure-works\ramesh0,8DE0,2,Application Specialist,1988-03-13,S,M,2009-02-03,...,Ramesh,V,Meyyappan,268,273,3848 East 39th Street,NaN,Issaquah,79,98027
268,269,671089628,adventure-works\dan0,8E10,2,Application Specialist,1987-05-26,M,M,2009-01-11,...,Dan,K,Bacon,269,272,1921 Ranch Road,NaN,Issaquah,79,98027
269,270,643805155,adventure-works\françois0,8E30,2,Database Administrator,1975-05-17,S,M,2009-01-17,...,François,P,Ajenstat,270,267,1144 Paradise Ct.,NaN,Issaquah,79,98027
270,271,929666391,adventure-works\dan1,8E50,2,Database Administrator,1976-01-06,M,M,2009-01-22,...,Dan,B,Wilson,271,32520,5863 Sierra,NaN,Bellevue,79,98004
271,272,525932996,adventure-works\janaina0,8E70,2,Application Specialist,1985-01-30,M,F,2008-12-23,...,Janaina,Barreiro Gambaro,Bueno,272,271,5979 El Pueblo,NaN,Issaquah,79,98027
272,273,112432117,adventure-works\brian3,94,1,Vice President of Sales,1977-06-06,S,M,2011-02-15,...,Brian,S,Welcker,273,279,7772 Golden Meadow,NaN,Issaquah,79,98027
273,274,502097814,adventure-works\stephen0,9560,2,North American Sales Manager,1951-10-17,M,M,2011-01-04,...,Stephen,Y,Jiang,274,216,2427 Notre Dame Ave.,NaN,Redmond,79,98052
274,275,841560125,adventure-works\michael9,956B,3,Sales Representative,1968-12-25,S,M,2011-05-31,...,Michael,G,Blythe,275,38,8154 Via Mexico,NaN,Detroit,35,48226
275,276,191644724,adventure-works\linda3,956D,3,Sales Representative,1980-02-27,M,F,2011-05-31,...,Linda,C,Mitchell,276,27,2487 Riverside Drive,NaN,Nevada,74,84407
276,277,615389812,adventure-works\jillian0,956F,3,Sales Representative,1962-08-29,S,F,2011-05-31,...,Jillian,NaN,Carson,277,24,80 Sunview Terrace,NaN,Duluth,36,55802
277,278,234474252,adventure-works\garrett1,957080,3,Sales Representative,1975-02-04,M,M,2011-05-31,...,Garrett,R,Vargas,278,33,10203 Acorn Avenue,NaN,Calgary,1,T2P 2G8
278,279,716374314,adventure-works\tsvi0,957180,3,Sales Representative,1974-01-18,M,M,2011-05-31,...,Tsvi,Michael,Reiter,279,29,8291 Crossbow Way,NaN,Memphis,72,38103
279,280,61161660,adventure-works\pamela0,957280,3,Sales Representative,1974-12-06,S,F,2011-05-31,...,Pamela,O,Ansman-Wolfe,280,22,636 Vine Hill Way,NaN,Portland,58,97205
280,281,139397894,adventure-works\shu0,957380,3,Sales Representative,1968-03-09,M,M,2011-05-31,...,Shu,K,Ito,281,26,5725 Glaze Drive,NaN,San Francisco,9,94109
281,282,399771412,adventure-works\josé1,957440,3,Sales Representative,1963-12-11,M,M,2011-05-31,...,José,Edvaldo,Saraiva,282,31,9100 Sheppard Avenue North,NaN,Ottawa,57,K4B 1T7
282,283,987554265,adventure-works\david8,9574C0,3,Sales Representative,1974-02-11,S,M,2011-05-31,...,David,R,Campbell,283,32507,2284 Azalea Avenue,NaN,Bellevue,79,98004
283,284,90836195,adventure-works\tete0,957540,3,Sales Representative,1978-01-05,M,M,2012-09-30,...,Tete,A,Mensa-Annan,284,39,3997 Via De Luna,NaN,Cambridge,30,02139
284,285,481044938,adventure-works\syed0,95A0,2,Pacific Sales Manager,1975-01-11,M,M,2013-03-14,...,Syed,E,Abbas,285,3,7484 Roundtree Drive,NaN,Bothell,79,98011
285,286,758596752,adventure-works\lynn0,95AB,3,Sales Representative,1977-02-14,S,F,2013-05-30,...,Lynn,N,Tsoflias,286,36,34 Waterloo Road,NaN,Melbourne,77,3000
286,287,982310417,adventure-works\amy0,95E0,2,European Sales Manager,1957-09-20,M,F,2012-04-16,...,Amy,E,Alberts,287,300,5009 Orange Street,NaN,Renton,79,98055
287,288,954276278,adventure-works\rachel0,95EB,3,Sales Representative,1975-07-09,S,F,2013-05-30,...,Rachel,B,Valdez,288,35,Pascalstr 951,NaN,Berlin,20,14111
288,289,668991357,adventure-works\jae0,95ED,3,Sales Representative,1968-03-17,M,F,2012-05-30,...,Jae,B,Pak,289,37,Downshire Way,NaN,Cambridge,14,BA5 3HX
289,290,134219713,adventure-works\ranjit0,95EF,3,Sales Representative,1975-09-30,S,M,2012-05-30,...,Ranjit,R,Varkey Chudukatil,290,34,"94, rue Descartes",NaN,Bordeaux,119,33000

In [12]:
stateprov = pd.read_excel('/Users/meng/Dropbox/Shared/GSU-Teaching/course-material/DataProgramming/oltp-install-script/StateProvince.xlsx'
                       , header=None, names=['StateProvinceID', 'StateProvinceCode', 'CountryRegionCode', 'IsOnlyStateProvinceFlag', 
                                                       'Name', 'TerritoryID', 'rowguid', 'ModifiedDate'])
stateprov

,StateProvinceID,StateProvinceCode,CountryRegionCode,IsOnlyStateProvinceFlag,Name,TerritoryID,rowguid,ModifiedDate
0,1,AB,CA,0,Alberta,6,298C2880-AB1C-4982-A5AD-A36EB4BA0D34,2014-02-08 10:17:21.587
1,2,AK,US,0,Alaska,1,5B7B8462-A888-4E0B-A3E1-7278F8AF107E,2014-02-08 10:17:21.587
2,3,AL,US,0,Alabama,5,41B328BE-21AE-45D0-841D-6F8DD71CE626,2014-02-08 10:17:21.587
3,4,AR,US,0,Arkansas,3,54656A80-06F2-4C70-BA10-247179FC246E,2014-02-08 10:17:21.587
4,5,AS,AS,1,American Samoa,1,255D15E1-9F6E-4CF8-9E5F-6B3858AD9B6A,2014-02-08 10:17:21.587
5,6,AZ,US,0,Arizona,4,FB8BE18E-F441-44F0-A4A9-1D0F204CB701,2014-02-08 10:17:21.587
6,7,BC,CA,0,British Columbia,6,D27FCC6E-BB99-438B-BA86-285CEEB2FA53,2014-02-08 10:17:21.587
7,8,BY,DE,0,Bayern,8,D54E5000-A0DA-46D1-86B0-B8FE16C9F781,2014-02-08 10:17:21.587
8,9,CA,US,0,California,4,3B2FF23C-1C75-40AE-9093-F4EB42263F4E,2014-02-08 10:17:21.587
9,10,CO,US,0,Colorado,3,292DF595-7D3C-41FB-A040-7C184D379FCE,2014-02-08 10:17:21.587
10,11,CT,US,0,Connecticut,2,1E7BB47A-E16B-4968-86FA-45AF0211FA84,2014-02-08 10:17:21.587
11,12,DC,US,0,District of Columbia,2,A1F3C57E-85B3-41E3-88E8-07244CF087DD,2014-02-08 10:17:21.587
12,13,DE,US,0,Delaware,2,7A11AB1D-77C0-4021-9140-8E81F105618E,2014-02-08 10:17:21.587
13,14,ENG,GB,1,England,10,3E3CB3F8-44B9-44D9-A1C3-CBFB11E0A7DA,2014-02-08 10:17:21.587
14,15,FL,US,0,Florida,5,EE8BA90D-B2C3-418E-93DF-20E33F095959,2014-02-08 10:17:21.587
15,16,FM,FM,1,Micronesia,9,3202DA35-AED4-40E2-9EC4-27C17F420170,2014-02-08 10:17:21.587
16,17,GA,US,0,Georgia,5,A6CA20D1-31AC-4771-8994-93DBBDCCE360,2014-02-08 10:17:21.587
17,18,GU,US,0,Guam,4,92B5A04E-26EC-4EDB-8D14-E72E29B14411,2014-02-08 10:17:21.587
18,19,HE,DE,0,Hessen,8,834FC3DF-B60D-4F94-95BD-AEF8A9FB74E8,2014-02-08 10:17:21.587
19,20,HH,DE,0,Hamburg,8,1CC5A134-60D7-40C2-9269-CDA494214ABF,2014-02-08 10:17:21.587
20,21,HI,US,0,Hawaii,1,09CDCCDC-B4B8-44EA-B04F-6EF521E3E720,2014-02-08 10:17:21.587
21,22,IA,US,0,Iowa,3,956A6C02-7D2F-4C9D-B275-8D2C0EF8FD83,2014-02-08 10:17:21.587
22,23,ID,US,0,Idaho,1,628E983A-33C7-4CB4-867F-274EF12B3597,2014-02-08 10:17:21.587
23,24,IL,US,0,Illinois,3,1F9120CF-683A-4132-A12C-98997FADEB26,2014-02-08 10:17:21.587
24,25,IN,US,0,Indiana,2,91F21EF0-C528-4310-BB29-6BA45AE75A17,2014-02-08 10:17:21.587
25,26,KS,US,0,Kansas,3,4ECCC236-56E8-4FF7-B510-BF50E0966046,2014-02-08 10:17:21.587
26,27,KY,US,0,Kentucky,5,810918BC-45DC-4E01-8544-B322A05EC94E,2014-02-08 10:17:21.587
27,28,LA,US,0,Louisiana,3,4E2BC5A5-0C3E-421B-BE18-5D79B4A7C0D0,2014-02-08 10:17:21.587
28,29,LB,CA,0,Labrador,6,9847C998-A7BF-4A66-BBAC-75939B092CC0,2014-02-08 10:17:21.587
29,30,MA,US,0,Massachusetts,2,77D7E754-1B03-4BB3-A4D4-B1A6AC1C968E,2014-02-08 10:17:21.587
...,...,...,...,...,...,...,...,...
151,152,66,FR,0,Pyrénées Orientales,7,0374FD8E-3A19-4A9B-BB9E-DB5871503AFE,2008-04-30 00:00:00.000
152,153,67,FR,0,Rhin (Bas),7,196859B3-40C3-4D54-ABBD-EF6AA8386DF9,2008-04-30 00:00:00.000
153,154,68,FR,0,Rhin (Haut),7,1192F8BF-CCA6-4CE2-BD08-2DD6E80B6CF6,2008-04-30 00:00:00.000
154,155,69,FR,0,Rhône,7,D4F170D0-FF06-4A97-8DE3-9F377272AA74,2008-04-30 00:00:00.000
155,156,70,FR,0,Saône (Haute),7,546FEB94-3737-4698-BA0D-DC051C088939,2008-04-30 00:00:00.000
156,157,71,FR,0,Saône et Loire,7,5D86860E-614E-4940-9CC4-549077196D5A,2008-04-30 00:00:00.000
157,158,72,FR,0,Sarthe,7,0E32D0E5-E9C9-404D-B500-180BEC6637D8,2008-04-30 00:00:00.000
158,159,73,FR,0,Savoie,7,F8931EDE-4941-420B-8D87-11C8514BC080,2008-04-30 00:00:00.000
159,160,74,FR,0,Savoie Haute,7,126AB534-FF0B-474E-AEFE-1CAA53C9C3A2,2008-04-30 00:00:00.000
160,161,75,FR,0,Seine (Paris),7,E117A6FC-24B9-438B-86FF-8455107F4E9F,2008-04-30 00:00:00.000
161,162,76,FR,0,Seine Maritime,7,46070A8D-2B94-4A05-A29B-189F7FFA7C56,2008-04-30 00:00:00.000
162,163,77,FR,0,Seine et Marne,7,FD1511DB-0A30-4B14-B60E-D2247473415E,2008-04-30 00:00:00.000
163,164,78,FR,0,Yveline,7,A111EB2E-3217-485A-A510-673C0843C615,2008-04-30 00:00:00.000
164,165,79,FR,0,Sèvres (Deux),7,38E0A3D9-E813-454C-BE54-6F019D687ECB,2008-04-30 00:00:00.000
165,166,80,FR,0,Somme,7,8366DE5D-5615-4168-9104-4379F9E59090,2008-04-30 00:00:00.000
166,167,81,FR,0,Tarne,7,406B4FD5-E4A8-4DB7-838B-8A33A617F242,2008-04-30 00:00:00.000
167,168,82,FR,0,Tarne et Garonne,7,544F6F15-6359-45CA-B271-2A310E6CF151,2008-04-30 00:00:00.000
168,169,83,FR,0,Var,7,08A673DC-6056-45B2-903C-976E8B6BD0B9,2008-04-30 00:00:00.000
169,170,84,FR,0,Vaucluse,7,29691831-ACED-46F8-BAD2-A8C914B4F9F4,2008-04-30 00:00:00.000
170,171,85,FR,0,La Vendée,7,2A5A84C2-30B0-4791-8DA1-25E3DDE497D8,2008-04-30 00:00:00.000
171,172,86,FR,0,Vienne,7,78A90D81-396C-431A-AA14-0751F2644B25,2008-04-30 00:00:00.000
172,173,87,FR,0,Vienne (Haute),7,AB61F91C-50E3-45C3-A9D2-140940CECBF0,2008-04-30 00:00:00.000
173,174,88,FR,0,Vosges,7,5A5CB4C2-72A1-40B7-A779-5A36B76E3942,2008-04-30 00:00:00.000
174,175,89,FR,0,Yonne,7,3F8DE296-BEE5-4980-B81F-EBFCC1B16790,2008-04-30 00:00:00.000
175,176,90,FR,0,Belford (Territoire de),7,76ADCAAA-4EB2-4AD8-893B-EF9F3CB5C6FB,2008-04-30 00:00:00.000
176,177,91,FR,0,Essonne,7,35894A81-C267-4511-A706-99EA2C08181F,2008-04-30 00:00:00.000
177,178,92,FR,0,Hauts de Seine,7,F8FD6D62-A913-4F10-9E42-D348EDA02BD9,2008-04-30 00:00:00.000
178,179,93,FR,0,Seine Saint Denis,7,466C15BC-46EC-427D-99DB-98C380634527,2008-04-30 00:00:00.000
179,180,94,FR,0,Val de Marne,7,FE0A2A02-FE1D-4B79-B970-167EC7F724FC,2008-04-30 00:00:00.000
180,181,95,FR,0,Val d'Oise,7,E7580D97-910B-42B4-B4E2-72C8733889E0,2008-04-30 00:00:00.000

In [13]:
tmp = staeprov[['StateProvinceID', 'Name']]
tmp.columns = ['StateProvinceID', 'StateProvinceName']
Employees = pd.merge(Employees, tmp, on='StateProvinceID', how='left')

# Employees.to_excel('/Users/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/HW04/Employee.xlsx')

NameError: name 'staeprov' is not defined

In [14]:
tmp = stateprov[['StateProvinceID', 'Name']]
tmp.columns = ['StateProvinceID', 'StateProvinceName']
Employees = pd.merge(Employees, tmp, on='StateProvinceID', how='left')

# Employees.to_excel('/Users/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/HW04/Employee.xlsx')

In [16]:
Employees.to_excel("/Users/meng/Downloads/Employee.xlsx")
# Employees.to_excel('/Users/GSU-Teaching/course-material/DataProgramming/04-Pandas-Data-Tables/HW04/Employee.xlsx')

In [17]:
Employees.columns

Index(['EmployeeID', 'NationalIDNumber', 'LoginID', 'OrganizationNode',
       'OrganizationLevel', 'JobTitle', 'BirthDate', 'MaritalStatus', 'Gender',
       'HireDate', 'SalariedFlag', 'VacationHours', 'SickLeaveHours',
       'CurrentFlag', 'rowguid', 'ModifiedDate', 'EmailAddress', 'PersonType',
       'NameStyle', 'Title', 'FirstName', 'MiddleName', 'LastName',
       'BusinessEntityID', 'AddressID', 'AddressLine1', 'AddressLine2', 'City',
       'StateProvinceID', 'PostalCode', 'StateProvinceName'],
      dtype='object')

# Filtering (with)

### 1. Provide a list of employees that are married.

SELECT e.EmployeeID, e.FirstName, e.LastName FROM dbo.Employees AS e
    WHERE e.MaritalStatus = 'M';

In [ ]:
Employees.MaritalStatus == 'M'

In [ ]:
Employees.loc[Employees.MaritalStatus == 'M', ['EmployeeID', 'FirstName', 'LastName', 'MaritalStatus']]

### 2a. Show me a list of employees that have a lastname that begins with "R".

SELECT e.EmployeeID, e.FirstName, e.LastName FROM dbo.Employees AS e
	WHERE e.LastName LIKE 'R%';

In [ ]:
filter = Employees.LastName.map(lambda x: x[0] == 'R')

In [ ]:
Employees[filter]

In [ ]:
df = Employees[Employees.LastName.map(lambda x: x[0] == 'R')]
df[['EmployeeID', 'FirstName', 'LastName']]

### 2b. Show me a list of employees that have a lastname that ends with "r"

SELECT e.EmployeeID, e.FirstName, e.LastName FROM dbo.Employees AS e
	WHERE e.LastName LIKE '%r';

In [ ]:
Employees.loc[Employees.LastName.map(lambda x: x[-1] == 'r'), ['EmployeeID', 'FirstName', 'LastName']]

### 2c. Provide a list of employees that have a hyphenated lastname.

SELECT e.EmployeeID, e.FirstName, e.LastName FROM dbo.Employees AS e
	WHERE e.LastName LIKE '%-%';

In [ ]:
help(pd.Series.between)

In [ ]:
type(Employees.LastName)
dir(type(Employees.LastName))

In [ ]:
Employees.loc[Employees.LastName.map(lambda x: '-' in x), ['EmployeeID', 'FirstName', 'LastName']]

### 3a. Provide a list of employees that are on salary and have more than 35 vacation hours left.

SELECT 	e.EmployeeID
		,e.FirstName
		,e.LastName
		,e.VacationHours
		,e.SalariedFlag
	FROM dbo.Employees AS e
	WHERE (e.SalariedFlag = 1) AND (e.VacationHours > 35);

In [ ]:
Employees.loc[(Employees.SalariedFlag==1) & (Employees.VacationHours>35), ['EmployeeID', 'FirstName', 'LastName', 'SalariedFlag', 'VacationHours']]

### 3b. Show the same as above but limit it to American employees.

SELECT DISTINCT CountryName FROM dbo.Employees;

SELECT 	e.EmployeeID
		,e.FirstName
		,e.LastName
		,e.VacationHours
		,e.SalariedFlag
		,e.CountryName
	FROM dbo.Employees AS e
	WHERE (e.SalariedFlag = 1) AND (e.VacationHours > 35) AND e.CountryName = 'United States';

In [ ]:
Employees.loc[(Employees.SalariedFlag==1) & (Employees.VacationHours>35), ['EmployeeID', 'FirstName', 'LastName', 'SalariedFlag', 'VacationHours']]

### 3c. Show the same as above but limit it to non-American employees.

SELECT 	e.EmployeeID
		,e.FirstName
		,e.LastName
		,e.VacationHours
		,e.SalariedFlag
		,e.CountryName
	FROM dbo.Employees AS e
	WHERE (e.SalariedFlag = 1) AND (e.VacationHours > 5) AND e.CountryName != 'United States';

In [ ]:
Employees.loc[
    (Employees.SalariedFlag==1) & (Employees.VacationHours>35) & (Employees.CountryName != 'United States')
    , ['EmployeeID', 'FirstName', 'LastName', 'SalariedFlag', 'VacationHours']
]

### 4a. List the married employees with more than 35 vacation hours, only ones living in Washington state.

SELECT 	e.EmployeeID
		,e.FirstName
		,e.LastName
		,e.VacationHours
		,e.SalariedFlag
		,e.StateProvinceName
		,e.CountryName
	FROM dbo.Employees AS e
	WHERE e.MaritalStatus = 'M' AND e.VacationHours > 35 AND e.StateProvinceName = 'Washington'
	;

In [ ]:
Employees.loc[
    (Employees.SalariedFlag==1) & (Employees.VacationHours>35) & (Employees.StateProvinceName == 'Washington')
    , ['EmployeeID', 'FirstName', 'LastName', 'SalariedFlag', 'VacationHours', 'StateProvinceName']
]

### 4b. Change the logic to include anyone who meets any of the 3 conditions (i.e., people who are either married, live in Washington state, or have more than 35 vacation hours left)

SELECT 	e.EmployeeID
		,e.FirstName
		,e.LastName
		,e.MaritalStatus
		,e.VacationHours
		,e.SalariedFlag
		,e.StateProvinceName
		,e.CountryName
	FROM dbo.Employees AS e
	WHERE e.MaritalStatus = 'M' OR e.VacationHours > 35 OR e.StateProvinceName = 'Washington'
	;

In [ ]:
Employees.loc[
    (Employees.SalariedFlag==1) | (Employees.VacationHours>35) | (Employees.StateProvinceName == 'Washington')
    , ['EmployeeID', 'FirstName', 'LastName', 'SalariedFlag', 'VacationHours', 'StateProvinceName']
]

### 4c. Show the same as above, but only for Production Technicians

SELECT DISTINCT JobTitle FROM dbo.Employees; --- look at job titles

SELECT 	e.EmployeeID
		,e.FirstName
		,e.LastName
		,e.MaritalStatus
		,e.JobTitle
		,e.VacationHours
		,e.SalariedFlag
		,e.StateProvinceName
		,e.CountryName
	FROM dbo.Employees AS e
	WHERE e.JobTitle LIKE 'Production Technician%'
		 AND (e.MaritalStatus = 'M' OR e.VacationHours > 35 OR e.StateProvinceName = 'Washington')
	;

In [ ]:
'abc'.startswith('ab')

In [ ]:
Employees.loc[ Employees.JobTitle.map(lambda x: x.startswith('Production Technician'))
    & (
        (Employees.SalariedFlag==1) | (Employees.VacationHours>35) | (Employees.StateProvinceName == 'Washington')
    ), ['EmployeeID', 'FirstName', 'LastName', 'SalariedFlag', 'VacationHours', 'StateProvinceName', 'JobTitle']
]

### 5a. List all employees living in Redmond, Seattle, and Bellevue, showing EmployeeID, FirstName, LastName, and City. Sort the list alphabetically by city.

SELECT e.EmployeeID, e.FirstName, e.LastName, e.City
	FROM dbo.Employees AS e
	WHERE e.City in ('Redmond', 'Seattle', 'Bellevue')
	ORDER BY e.City
	;

In [ ]:
Employees.loc[Employees.City.isin(['Redmond', 'Seattle', 'Bellevue']),
              ['EmployeeID', 'FirstName', 'LastName', 'City']].sort_values('City')

### 5b. For the list above, make sure these are only in the state of Washington, just to be careful.

SELECT e.EmployeeID, e.FirstName, e.LastName, e.City,  e.StateProvinceName
	FROM dbo.Employees AS e
	WHERE e.City in ('Redmond', 'Seattle', 'Bellevue') AND e.StateProvinceName = 'Washington'
	ORDER BY e.City
	;

In [ ]:
Employees.loc[Employees.City.isin(['Redmond', 'Seattle', 'Bellevue'])
              & (Employees.StateProvinceName=='Washington'),
              ['EmployeeID', 'FirstName', 'LastName', 'City']].sort_values('City')

### 6. Provide a list of employees who have no title, whether it's a NULL or empty string.

SELECT e.EmployeeID, e.Title, e.FirstName, e.LastName
	FROM dbo.Employees AS e
	WHERE e.Title IS NULL OR e.Title = ''
	;

In [ ]:
### Note: when exporting the SQL table to Excel the one row with a ' ' in the Title was already removed...Sorry

Employees.loc[pd.isnull(Employees.Title) | Employees.Title.map(lambda x: len(str(x).strip())==0)
              ,['EmployeeID', 'Title', 'FirstName', 'LastName', 'City']]

### 7a. Provide a list of employees who have at least 60 vacation hours left.

SELECT e.EmployeeID, e.Title, e.FirstName, e.LastName, e.VacationHours, e.SickLeaveHours
	FROM dbo.Employees AS e
	WHERE e.VacationHours >= 60
	;

In [ ]:
Employees.loc[Employees.VacationHours >= 60
              , ['EmployeeID', 'FirstName', 'LastName', 'VacationHours', 'SickLeaveHours']]

### 7b. Provide a list of employees who have less than 60 vacation hours left.

SELECT e.EmployeeID, e.Title, e.FirstName, e.LastName, e.VacationHours, e.SickLeaveHours
	FROM dbo.Employees AS e
	WHERE e.VacationHours < 60
	;

In [ ]:
Employees.loc[Employees.VacationHours < 60
              , ['EmployeeID', 'FirstName', 'LastName', 'VacationHours', 'SickLeaveHours']]

### 7c. Show me employees who have more than 20 and less than 60 vacation hours left.

SELECT e.EmployeeID, e.Title, e.FirstName, e.LastName, e.VacationHours, e.SickLeaveHours
	FROM dbo.Employees AS e
	WHERE e.VacationHours BETWEEN 21 AND 59
	;

In [ ]:
Employees.loc[(Employees.VacationHours > 20) & (Employees.VacationHours < 60)
              , ['EmployeeID', 'FirstName', 'LastName', 'VacationHours', 'SickLeaveHours']]

### 7d. If you did not use BETWEEN for 7c, do the same but use BETWEEN. If you did use BETWEEN for 7c, do it another way.

SELECT e.EmployeeID, e.Title, e.FirstName, e.LastName, e.VacationHours, e.SickLeaveHours
	FROM dbo.Employees AS e
	WHERE e.VacationHours > 20 AND  e.VacationHours < 60
	;

In [ ]:
Employees.loc[Employees.VacationHours.between(20, 60, inclusive=False)
              , ['EmployeeID', 'FirstName', 'LastName', 'VacationHours', 'SickLeaveHours']]

# Grouping

### 1a. What is the earliest birthdate for all employees?

SELECT MIN(e.BirthDate) FROM dbo.Employees AS e;

In [ ]:
Employees.BirthDate.min()

### 1b. Add to the above, the most recent birthdate for all employees

SELECT MIN(e.BirthDate) AS 'Earliest Birthday', MAX(e.BirthDate) AS 'Most Reecent Birthday'
	FROM dbo.Employees AS e;

In [ ]:
(Employees.BirthDate.min(), Employees.BirthDate.max())

### 1c. Show the above results broken down by gender

SELECT e.Gender, MIN(e.BirthDate) AS 'Earliest Birthday', MAX(e.BirthDate) AS 'Most Reecent Birthday'
	FROM dbo.Employees AS e
	GROUP BY e.Gender
	;

In [ ]:
Employees.groupby(by=['Gender']).BirthDate.aggregate([min, max])

### 1d. Show the above results broken down by gender, and salaried/hourly

SELECT e.Gender, e.SalariedFlag, MIN(e.BirthDate) AS 'Earliest Birthday', MAX(e.BirthDate) AS 'Most Reecent Birthday'
	FROM dbo.Employees AS e
	GROUP BY e.Gender, e.SalariedFlag
	;

In [ ]:
Employees.groupby(by=['Gender', 'SalariedFlag']).BirthDate.aggregate([min, max])

### 2a. What are the average vacation hours for all employees?

SELECT AVG(e.VacationHours)
	FROM dbo.Employees AS e	
	;

In [ ]:
Employees.VacationHours.mean()

### 2b. Add to the above, the minimum vacation hours for all employees

SELECT AVG(e.VacationHours) AS 'Average Vacation', MIN(e.VacationHours) AS 'Minumum Vacation'
	FROM dbo.Employees AS e	
	;

In [ ]:
(Employees.VacationHours.mean(), Employees.VacationHours.min())

### 2c. Show the above results broken down and ordered by job title

SELECT e.JobTitle, AVG(e.VacationHours) AS 'Average Vacation', MIN(e.VacationHours) AS 'Minimum Vacation'
	FROM dbo.Employees AS e
	GROUP BY e.JobTitle
	;

In [ ]:
Employees.groupby(by=['JobTitle']).VacationHours.aggregate([np.mean, np.min])

### 2d. Show the above results broken down by job title, and married/single employees

SELECT e.JobTitle, e.MaritalStatus, AVG(e.VacationHours) AS 'Average Vacation', MIN(e.VacationHours) AS 'Minimum Vacation'
	FROM dbo.Employees AS e
	GROUP BY e.JobTitle, e.MaritalStatus
	;

In [ ]:
Employees.groupby(by=['JobTitle', 'MaritalStatus']).VacationHours.aggregate([np.mean, np.min])

### 2e. Add to the above, the maximum vacation hours per group

SELECT e.JobTitle, e.MaritalStatus
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	GROUP BY e.JobTitle, e.MaritalStatus
	;

In [ ]:
Employees.groupby(by=['JobTitle', 'MaritalStatus']).VacationHours.aggregate([np.mean, np.min, np.max])

### 2f. Show the above results broken down by job title, married/single employees, and State

SELECT e.JobTitle, e.MaritalStatus, e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	GROUP BY e.JobTitle, e.MaritalStatus, e.StateProvinceName
	;

In [ ]:
Employees.groupby(by=['JobTitle', 'MaritalStatus', 'StateProvinceName']).VacationHours.aggregate([np.mean, np.min, np.max])

### 2g. Show the above results but only for American employees

SELECT e.JobTitle, e.MaritalStatus, e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	WHERE e.CountryName = 'United States'
	GROUP BY e.JobTitle, e.MaritalStatus, e.StateProvinceName
	;

In [ ]:
Employees[Employees.CountryName=='United States'] \
.groupby(by=['JobTitle', 'MaritalStatus', 'StateProvinceName']).VacationHours.aggregate([np.mean, np.min, np.max])

### 2h. Change the grouping above so it's broken down by married/single and State, no more job title

SELECT e.MaritalStatus, e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	WHERE e.CountryName = 'United States'
	GROUP BY e.MaritalStatus, e.StateProvinceName
	;

In [ ]:
Employees[Employees.CountryName=='United States'] \
.groupby(by=['MaritalStatus', 'StateProvinceName']).VacationHours.aggregate([np.mean, np.min, np.max])

### 2i. Limit the results above to States where the average vacation hours is greater than 30

SELECT e.MaritalStatus, e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	WHERE e.CountryName = 'United States'
	GROUP BY e.MaritalStatus, e.StateProvinceName
	HAVING AVG(e.VacationHours) > 30
	;

SELECT e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	WHERE e.CountryName = 'United States'
	GROUP BY e.StateProvinceName
	HAVING AVG(e.VacationHours) > 30
	;

In [ ]:
Employees[Employees.CountryName=='United States'] \
.groupby(by=['StateProvinceName']).filter(lambda x: x.VacationHours.mean()>30) \
.groupby(by=['StateProvinceName']).VacationHours.aggregate([np.mean, np.min, np.max])

### 2j. Limit the results above to States where the average vacation hours is greater than 30 and the maximum vacation hours is less than 50

SELECT e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	WHERE e.CountryName = 'United States'
	GROUP BY e.StateProvinceName
	HAVING AVG(e.VacationHours) >30 AND 49 MAX((e.VacationHours) < 50)
	;

In [ ]:
Employees[Employees.CountryName=='United States'] \
.groupby(by=['StateProvinceName']).filter(lambda x: (x.VacationHours.mean() >30) and (x.VacationHours.max()<50)) \
.groupby(by=['StateProvinceName']).VacationHours.aggregate([np.mean, np.min, np.max])

### 2k. Show the same results but only for non-American employees

SELECT e.StateProvinceName
		, AVG(e.VacationHours) AS 'Average Vacation'
		, MIN(e.VacationHours) AS 'Minimum Vacation'
		, MAX(e.VacationHours) AS 'Maximum Vacation'
	FROM dbo.Employees AS e
	WHERE e.CountryName != 'United States'
	GROUP BY e.StateProvinceName
	HAVING AVG(e.VacationHours) BETWEEN 31 AND 49
	;

In [ ]:
Employees[Employees.CountryName!='United States'] \
.groupby(by=['StateProvinceName']).filter(lambda x: (x.VacationHours.mean() >30) and (x.VacationHours.max()<50)) \
.groupby(by=['StateProvinceName']).VacationHours.aggregate([np.mean, np.min, np.max])

### 3a. Report how many employees are in the company

SELECT COUNT(1) FROM dbo.Employees;

In [ ]:
Employees.shape[0]

### 3b. For the above report, show the number of employees per manager (hint: use ManagerID)

SELECT e.ManagerID, COUNT(1) AS 'NumEmployees'
	FROM dbo.Employees AS e
	GROUP BY e.ManagerID
	;

In [ ]:
Employees.groupby(by=['ManagerID']).EmployeeID.aggregate(lambda x: x.shape[0])

### 3c. Remove any manager ID's that are NULL from the results above

SELECT e.ManagerID, COUNT(1) AS 'NumEmployees'
	FROM dbo.Employees AS e
	WHERE e.ManagerID IS NOT NULL
	GROUP BY e.ManagerID
	;

In [ ]:
Employees.loc[pd.isnull(Employees.EmployeeID)==False] \
.groupby(by=['ManagerID']).EmployeeID.aggregate(lambda x: x.shape[0])

### 3d. Show the same results as above, but only for managers who have at least 5 employees

SELECT e.ManagerID, COUNT(1) AS 'NumEmployees'
	FROM dbo.Employees AS e
	WHERE e.ManagerID IS NOT NULL
	GROUP BY e.ManagerID
	HAVING COUNT(1) >= 5
	;

In [ ]:
Employees.loc[pd.isnull(Employees.EmployeeID)==False] \
.groupby(by=['ManagerID']).filter(lambda x: x.shape[0]>=5) \
.groupby(by=['ManagerID']).EmployeeID.aggregate(lambda x: x.shape[0])

### 4a. List the average vacation hours of all employees

SELECT AVG(e.VacationHours)
	FROM dbo.Employees AS e
	;

In [ ]:
Employees.VacationHours.mean()

### 4b. Break down the results by State

SELECT e.StateProvinceName, AVG(e.VacationHours) AS 'Average Vacation Hours'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName
	;

In [ ]:
Employees.groupby(by=['StateProvinceName']).VacationHours.mean()

### 4c. Break down the results by city and State

SELECT e.StateProvinceName, e.City, AVG(e.VacationHours) AS 'Average Vacation Hours'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	;

In [ ]:
Employees.groupby(by=['StateProvinceName', 'City']).VacationHours.mean()

### 4d. Add something that shows the number of employees per city

SELECT e.StateProvinceName, e.City
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	;

In [ ]:
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean'
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    }
}
Employees.groupby(by=['StateProvinceName', 'City'])\
.aggregate(aggregations)

### 4e. Sort the results by the city and state

SELECT e.StateProvinceName, e.City
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	ORDER BY e.StateProvinceName, e.City
	;

In [ ]:
### Since Pandas already sorts the results, we show here how show resutls in DESCENDING order
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean'
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    }
}
Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations) \
.sort_index(ascending=False, axis=0)

In [ ]:
## This adds the row indices back as columns
df = Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations) \
.sort_index(ascending=False, axis=0)

df['SPN'] = df.index.get_level_values(0)
df['C'] = df.index.get_level_values(1)

### 4f. Make city and State a single column in the format of "City, State"

SELECT CONCAT(e.StateProvinceName, ', ', e.City) AS 'Location'
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	ORDER BY e.StateProvinceName, e.City
	;

In [ ]:
# Version 1: first create new column 'CityState' ... rest is easy
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean'
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

df = Employees.copy()
df['CityState'] = Employees.City.str.cat(Employees.StateProvinceName, sep=', ')
df.groupby(by = 'CityState').aggregate(aggregations).sort_index(ascending=False, axis=0)

In [ ]:
# Version 2: using the multi-indexed result and adding index values as new column 'CityState'
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean'
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

df = Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations) \
.sort_index(ascending=False, axis=0)
df['CityState'] = [
    r.City+', '+r.State \
        for i, r in pd.DataFrame({
            'City': df.index.get_level_values(1),
            'State': df.index.get_level_values(0)
            }).iterrows()
    ]
df

### 4g. Add a column that shows the difference between the maximum vacation hours and minimum vacation hours for each city

SELECT CONCAT(e.StateProvinceName, ', ', e.City) AS 'Location'
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	, MAX(e.VacationHours)-MIN(e.VacationHours) AS 'Difference Vacation Hours'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	ORDER BY e.StateProvinceName, e.City
	;

In [ ]:
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean',
        'MinVacationHours' : min, 
        'MaxVacationHours' : max,
        'DeltaVacationHoues' : lambda x: x.max()-x.min()
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations) \
.sort_index(ascending=False, axis=0)

### 4h. Now sort the results by the new column created above

SELECT CONCAT(e.StateProvinceName, ', ', e.City) AS 'Location'
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	, MAX(e.VacationHours)-MIN(e.VacationHours) AS 'Difference Vacation Hours'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	ORDER BY 'Difference Vacation Hours' DESC
	;

In [ ]:
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean',
        'MinVacationHours' : min, 
        'MaxVacationHours' : max,
        'DeltaVacationHours' : lambda x: x.max()-x.min()
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

df = Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations)
df.iloc[np.argsort(df['VacationHours']['DeltaVacationHours'])]

### 4i. Limit the results to cities that have more than 1 employee

SELECT CONCAT(e.StateProvinceName, ', ', e.City) AS 'Location'
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	, MAX(e.VacationHours)-MIN(e.VacationHours) AS 'Difference Vacation Hours'
	FROM dbo.Employees AS e
	GROUP BY e.StateProvinceName, e.City
	HAVING COUNT(1) > 1
	ORDER BY 'Difference Vacation Hours' DESC
	;

In [ ]:
def my_own_delta(x):
    return  x.max()-x.min()

aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean',
        'MinVacationHours' : np.min, 
        'MaxVacationHours' : np.max,
        'DeltaVacationHours' : my_own_delta, ##lambda x: x.max()-x.min(),
        'cnt' : pd.Series.count
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

df = Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations)
df['VacationHours']['DeltaVacationHours']>1
df2 = df[df['VacationHours']['DeltaVacationHours']>1]

df2.columns = df2.columns.droplevel(0)
df2.reset_index()
##df2.iloc[np.argsort(df2['VacationHours']['DeltaVacationHours'])]
##np.argsort(df2['VacationHours']['DeltaVacationHours'])

### 4j. Limit the results to non-U.S. cities

SELECT CONCAT(e.StateProvinceName, ', ', e.City) AS 'Location'
	, AVG(e.VacationHours) AS 'Average Vacation Hours'
	, COUNT(1) AS 'NumEmployees'
	, MAX(e.VacationHours)-MIN(e.VacationHours) AS 'Difference Vacation Hours'
	FROM dbo.Employees AS e
	WHERE e.CountryName != 'United States'
	GROUP BY e.StateProvinceName, e.City
	HAVING COUNT(1) > 1
	ORDER BY 'Difference Vacation Hours' DESC
	;

In [ ]:
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean',
        'MinVacationHours' : min, 
        'MaxVacationHours' : max,
        'DeltaVacationHours' : lambda x: x.max()-x.min()
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

df = Employees[Employees.CountryName != 'United States'].groupby(by=['StateProvinceName', 'City']).aggregate(aggregations)
df2 = df[df['VacationHours']['DeltaVacationHours']>1]
df2.iloc[np.argsort(df2['VacationHours']['DeltaVacationHours'])]

### Extra
Here are two alternatives to create a 'City, State' column.

In [ ]:
[cs for cs in map(lambda x,y: str(y)+', '+str(x), Employees.StateProvinceName.values, Employees.City.values)]

In [ ]:
Employees.City.str.cat(Employees.StateProvinceName, sep=', ')

# Summary

### In the simplest form one can specify either rows or columns

In [ ]:
# First ten rows
Employees[0:10]

In [ ]:
# Rows satisfying a particular condition
Employees[Employees.MaritalStatus=='M']

In [ ]:
# Select sertain columns
Employees[['EmployeeID', 'FirstName']]

### Since expressions return DataFrames we can chain method calls and [...] operators
The order matters!

In [ ]:
Employees[0:10][Employees.MaritalStatus=='M'][['EmployeeID', 'FirstName', 'MaritalStatus']]

In [ ]:
Employees[Employees.MaritalStatus=='M'][['EmployeeID', 'FirstName', 'MaritalStatus']][0:10]

Recommended to use .loc .iloc .at methods

### Grouping should be performed by on factors (i.e. discrete values), aggregation usually on numeric values.

In [ ]:
Employees.groupby(by=['MaritalStatus']).VacationHours.sum()

### Use 'aggregate' for more complex groupings and aggregations

In [ ]:
aggregations = {
    'VacationHours' : {
        'AverageVacationHours' : 'mean',
        'MinVacationHours' : min, 
        'MaxVacationHours' : max,
        'DeltaVacationHoues' : lambda x: x.max()-x.min()
    },
    'EmployeeID' : {
        'NumEmployees' : 'count'
    },
}

Employees.groupby(by=['StateProvinceName', 'City']).aggregate(aggregations) \
.sort_index(ascending=False, axis=0)

### Assign intermediate results to new variables, and perform next operation on them
In particular to saticfy filtering ('HAVING') and sorting on aggregated values

### Columns are not lists. Methods on columns are defined in Pandas.Series and NumPy

In [ ]:
help(np.min)
help(pd.Series.between)